<%- contentFor('title') %>
Login
<%- contentFor('cssLinks')%>
<link rel="stylesheet" href="/public/css/auth.css">
<%- contentFor('body') %>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form action="/user/send-verify-mail" method="post">
                    <h1>Send Verify Mail</h1>
                    <br>


                    <%if(locals.error){%>
                        <div class="alert alert-danger">
                            <ul>
                                <li><%= error %></li>
                            </ul>
                        </div>
                    <%}%>
                    <%if(locals.success){%>
                        <div class="alert alert-success">
                            <ul>
                                <li><%= success %></li>
                            </ul>
                        </div>
                    <%}%>


                    <input type="hidden" name="_token" value="<%=_token%>">

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Send Mail</button>

                    </div>


                </form>
                <form action="/user/logout" method="post">
                    <input type="hidden" name="_token" value="<%=_token%>">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>
        </div>
    </div>

    <div
            class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2020. All rights reserved.
        </div>
        <!-- Copyright -->


    </div>
</section>
